:root {
  --primary-color: #c0e9f2;
  --accent-color: #5cc2f2;
  --background-gradient: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  --heading-font: "PT Serif", serif;
  --paragraph-font: "PT Sans", sans-serif;
}

p {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

.header a,
.weather-app-description p,
.weather-app-description a {
  font-size: 20px;
}

.header button,
.weather-app-description button {
  background-color: var(--primary-color);
  border: var(--accent-color);
  padding: 20px;
  border-radius: 5px;
}

.header a,
.weather-app-description a {
  text-decoration: none;
  color: black;
}

.header h3,
.weather-app-description h2 {
  font-size: 40px;
}

div.header {
  background: var(--background-gradient);
  padding: 150px 200px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
}

.header h4 {
  opacity: 0.7;
}

.header button {
  margin-top: 45px;
}

div.weather-app-description {
  padding: 150px 20px;
}

.weather-app-description p {
  line-height: 1.5;
}

.weather-app-description a {
  font-weight: bold;
}
