:root {
  --primary-color: #c0e9f2;
  --accent-color: #5cc2f2;
  --background-gradient: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  --heading-font: "PT Serif", serif;
  --paragraph-font: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
}

.header a,
.weather-app-description p,
.weather-app-description a {
  font-size: 20px;
}

.header button,
button {
  background-color: var(--primary-color);
  border: var(--accent-color);
  padding: 20px;
  border-radius: 5px;
}

button {
  display: block;
  margin: 0 auto;
}

.header a,
a {
  text-decoration: none;
  color: black;
}

.header h3,
.weather-app-description h2 {
  font-size: 40px;
}

.header {
  background: var(--background-gradient);
  padding: 150px 200px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
}

.header h4 {
  opacity: 0.7;
}

.header button {
  margin-top: 45px;
}

.weather-app-description p {
  line-height: 1.5;
}

@media (max-width: 576px) {
  .header {
    padding: 75px 50px;
  }

  .header h3 {
    font-size: 32px;
  }

  .header h1 {
    font-size: 42px;
  }

  .header button {
    margin-top: 25px;
  }

  img {
    margin-top: 35px;
  }
}
