:root {
  --primary-color: #c0e9f2;
  --accent-color: #5cc2f2;
  --link-color: #191ba9;
  --background-gradient: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  --heading-font: "PT Serif", serif;
  --paragraph-font: "PT Sans", sans-serif;
}

body {
  background: var(--background-gradient);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
  font-size: 18px;
  line-height: 30px;
}

button {
  background-color: var(--primary-color);
  border: var(--accent-color);
  padding: 20px;
  border-radius: 7px;
}

div.header {
  padding: 125px 75px;
}

.app-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.additional-project-info {
  opacity: 0.7;
}

.weather-description,
.landing-page-description {
  padding: 100px 50px;
}

@media (max-width: 800px) {
  .pro-headshot {
    margin-bottom: 50px;
  }
}
