:root {
  --primary-color: #c0e9f2;
  --accent-color: #5cc2f2;
  --link-color: #191ba9;
  --background-gradient: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  --heading-font: "PT Serif", serif;
  --paragraph-font: "PT Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

p,
ul {
  font-size: 18px;
  line-height: 30px;
}

div .weather-app-btn,
div .landing-pg-btn {
  display: block;
  margin: 0 auto;
  background-color: var(--primary-color);
  border: var(--accent-color);
  padding: 20px;
  border-radius: 7px;
}

a i {
  font-size: 25px;
  margin: 15px;
  background-color: var(--primary-color);
  padding: 25px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  color: black;
}

p {
  font-family: var(--paragraph-font);
}

div.header {
  padding: 125px 75px;
  background: var(--background-gradient);
}

div.footer-container {
  margin-top: 100px;
  margin-bottom: 20px;
}

a.app-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

h3.additional-project-info {
  opacity: 0.7;
}

.contact-info p {
  font-size: 20px;
}

.landing-page-description {
  margin-top: 55px;
}

@media (max-width: 576px) {
  .pro-headshot {
    margin-bottom: 50px;
  }

  .header {
    padding: 50px 25px;
  }

  .weather-description {
    margin-top: 50px;
  }
}
